In [4]:
import plotly.express as px
import panel as pn
import pandas as pd
import os
from pathlib import Path
from dotenv import load_dotenv
import yfinance as yf

In [59]:
spy_df = pd.read_csv("SPY_20050107_to_20050131.csv", index_col="expiration", parse_dates=True, infer_datetime_format=True)
spy_df

,underlying,underlying_last,exchange,optionroot,optionext,type,quotedate,strike,last,bid,...,volume,openinterest,impliedvol,delta,gamma,theta,vega,optionalias,IVBid,IVAsk
expiration,,,,,,,,,,,,,,,,,,,,,
2005-01-22,SPY,118.44,*,SZC050122C00088000,NaN,call,01/07/2005,88,0.0,0.00,...,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,SZCAJ,0.0000,0.0000
2005-01-22,SPY,118.44,*,SZC050122P00088000,NaN,put,01/07/2005,88,0.0,0.00,...,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,SZCMJ,0.0000,0.0000
2005-01-22,SPY,118.44,*,SZC050122C00089000,NaN,call,01/07/2005,89,0.0,0.00,...,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,SZCAK,0.0000,0.0000
2005-01-22,SPY,118.44,*,SZC050122P00089000,NaN,put,01/07/2005,89,0.0,0.00,...,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,SZCMK,0.0000,0.0000
2005-01-22,SPY,118.44,*,SWG050122C00090000,NaN,call,01/07/2005,90,0.0,0.00,...,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,SWGAL,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007-12-22,SPY,118.16,*,FYN071222P00150000,NaN,put,01/31/2005,150,0.0,31.80,...,0,0,0.1755,-0.6765,0.0092,-0.3779,64.8196,FYNXJ,0.1771,0.1802
2007-12-22,SPY,118.16,*,FYN071222C00155000,NaN,call,01/31/2005,155,0.0,1.50,...,0,0,0.1243,0.1380,0.0087,-1.0391,43.5184,FYNLK,0.1221,0.1266
2007-12-22,SPY,118.16,*,FYN071222P00155000,NaN,put,01/31/2005,155,0.0,36.80,...,0,0,0.1870,-0.6922,0.0083,-0.3064,62.9566,FYNXK,0.1965,0.1995
2007-12-22,SPY,118.16,*,FYN071222C00160000,NaN,call,01/31/2005,160,1.6,0.95,...,0,10,0.1216,0.1024,0.0072,-0.8226,35.3352,FYNLZ,0.1171,0.1238
2007-12-22,SPY,118.16,*,FYN071222P00160000,NaN,put,01/31/2005,160,0.0,41.80,...,0,0,0.2003,-0.7018,0.0076,-0.2714,61.7536,FYNXZ,0.2151,0.2182

In [32]:
spy_df.dtypes

underlying          object
underlying_last    float64
 exchange           object
optionroot          object
optionext          float64
type                object
quotedate           object
strike               int64
last               float64
bid                float64
ask                float64
volume               int64
openinterest         int64
impliedvol         float64
delta              float64
gamma              float64
theta              float64
vega               float64
optionalias         object
IVBid              float64
IVAsk              float64
dtype: object

In [60]:
spy_df = spy_df.drop(columns=[" exchange", 'optionext', 'optionalias', 'optionroot'])
spy_df

,underlying,underlying_last,type,quotedate,strike,last,bid,ask,volume,openinterest,impliedvol,delta,gamma,theta,vega,IVBid,IVAsk
expiration,,,,,,,,,,,,,,,,,
2005-01-22,SPY,118.44,call,01/07/2005,88,0.0,0.00,0.00,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2005-01-22,SPY,118.44,put,01/07/2005,88,0.0,0.00,0.00,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2005-01-22,SPY,118.44,call,01/07/2005,89,0.0,0.00,0.00,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2005-01-22,SPY,118.44,put,01/07/2005,89,0.0,0.00,0.00,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2005-01-22,SPY,118.44,call,01/07/2005,90,0.0,0.00,0.00,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007-12-22,SPY,118.16,put,01/31/2005,150,0.0,31.80,32.00,0,0,0.1755,-0.6765,0.0092,-0.3779,64.8196,0.1771,0.1802
2007-12-22,SPY,118.16,call,01/31/2005,155,0.0,1.50,1.70,0,0,0.1243,0.1380,0.0087,-1.0391,43.5184,0.1221,0.1266
2007-12-22,SPY,118.16,put,01/31/2005,155,0.0,36.80,37.00,0,0,0.1870,-0.6922,0.0083,-0.3064,62.9566,0.1965,0.1995
2007-12-22,SPY,118.16,call,01/31/2005,160,1.6,0.95,1.15,0,10,0.1216,0.1024,0.0072,-0.8226,35.3352,0.1171,0.1238
2007-12-22,SPY,118.16,put,01/31/2005,160,0.0,41.80,42.00,0,0,0.2003,-0.7018,0.0076,-0.2714,61.7536,0.2151,0.2182

In [66]:
spy_df.index.names = ["Date"]

spy_df

,underlying,underlying_last,type,quotedate,strike,last,bid,ask,volume,openinterest,impliedvol,delta,gamma,theta,vega,IVBid,IVAsk
Date,,,,,,,,,,,,,,,,,
2005-01-22,SPY,118.44,call,01/07/2005,88,0.0,0.00,0.00,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2005-01-22,SPY,118.44,put,01/07/2005,88,0.0,0.00,0.00,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2005-01-22,SPY,118.44,call,01/07/2005,89,0.0,0.00,0.00,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2005-01-22,SPY,118.44,put,01/07/2005,89,0.0,0.00,0.00,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2005-01-22,SPY,118.44,call,01/07/2005,90,0.0,0.00,0.00,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007-12-22,SPY,118.16,put,01/31/2005,150,0.0,31.80,32.00,0,0,0.1755,-0.6765,0.0092,-0.3779,64.8196,0.1771,0.1802
2007-12-22,SPY,118.16,call,01/31/2005,155,0.0,1.50,1.70,0,0,0.1243,0.1380,0.0087,-1.0391,43.5184,0.1221,0.1266
2007-12-22,SPY,118.16,put,01/31/2005,155,0.0,36.80,37.00,0,0,0.1870,-0.6922,0.0083,-0.3064,62.9566,0.1965,0.1995
2007-12-22,SPY,118.16,call,01/31/2005,160,1.6,0.95,1.15,0,10,0.1216,0.1024,0.0072,-0.8226,35.3352,0.1171,0.1238
2007-12-22,SPY,118.16,put,01/31/2005,160,0.0,41.80,42.00,0,0,0.2003,-0.7018,0.0076,-0.2714,61.7536,0.2151,0.2182

In [71]:
spy = yf.Ticker("SPY")
spy_hs = spy.history(start ='2005-01-01', end ='2007-12-29')
spy_hs

pdr_override() get_data_yahoo

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2005-01-03,88.337234,88.482577,87.130921,87.421600,55748000,0.000,0
2005-01-04,87.537853,87.595990,86.069929,86.353340,69167600,0.000,0
2005-01-05,86.287939,86.658556,85.750185,85.757454,65667300,0.000,0
2005-01-06,86.069914,86.585868,85.939108,86.193451,47814700,0.000,0
2005-01-07,86.455095,86.644037,85.844667,86.069946,55847700,0.000,0
...,...,...,...,...,...,...,...
2007-12-21,113.045668,113.851112,112.830885,113.628662,146084400,0.775,0
2007-12-24,114.157976,114.664245,113.897157,114.472473,45601400,0.000,0
2007-12-26,114.027548,114.817647,113.912489,114.717934,67093100,0.000,0
2007-12-27,114.311360,114.319027,113.007314,113.275787,122981700,0.000,0
2007-12-28,113.943124,113.996826,112.685101,112.991943,116398100,0.000,0

In [63]:
spy_hs.dtypes

Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends         int64
Stock Splits      int64
dtype: object

In [72]:
combined_df = pd.concat([spy_df, spy_hs])
combined_df

,underlying,underlying_last,type,quotedate,strike,last,bid,ask,volume,openinterest,...,vega,IVBid,IVAsk,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-22,SPY,118.44,call,01/07/2005,88.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-22,SPY,118.44,put,01/07/2005,88.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-22,SPY,118.44,call,01/07/2005,89.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-22,SPY,118.44,put,01/07/2005,89.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-22,SPY,118.44,call,01/07/2005,90.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,113.045668,113.851112,112.830885,113.628662,146084400.0,0.775,0.0
2007-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,114.157976,114.664245,113.897157,114.472473,45601400.0,0.000,0.0
2007-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,114.027548,114.817647,113.912489,114.717934,67093100.0,0.000,0.0
2007-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,114.311360,114.319027,113.007314,113.275787,122981700.0,0.000,0.0
2007-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,113.943124,113.996826,112.685101,112.991943,116398100.0,0.000,0.0

In [73]:
combined_df.dropna()

Empty DataFrame
Columns: [underlying, underlying_last, type, quotedate, strike, last, bid, ask, volume, openinterest, impliedvol, delta, gamma, theta, vega, IVBid, IVAsk, Open, High, Low, Close, Volume, Dividends, Stock Splits]
Index: []

[0 rows x 24 columns]