In [5]:
#import libraries
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
from pathlib import Path
%matplotlib inline

In [6]:
#read in csv
x = pd.read_csv("SPY_20050107_to_20050131.csv")

In [7]:
#look at the data
x.head()

,underlying,underlying_last,exchange,optionroot,optionext,type,expiration,quotedate,strike,last,...,volume,openinterest,impliedvol,delta,gamma,theta,vega,optionalias,IVBid,IVAsk
0,SPY,118.44,*,SZC050122C00088000,NaN,call,1/22/05,1/7/05,88,0.0,...,0,0,0.0,0.0,0.0,0.0,0.0,SZCAJ,0.0,0.0
1,SPY,118.44,*,SZC050122P00088000,NaN,put,1/22/05,1/7/05,88,0.0,...,0,0,0.0,0.0,0.0,0.0,0.0,SZCMJ,0.0,0.0
2,SPY,118.44,*,SZC050122C00089000,NaN,call,1/22/05,1/7/05,89,0.0,...,0,0,0.0,0.0,0.0,0.0,0.0,SZCAK,0.0,0.0
3,SPY,118.44,*,SZC050122P00089000,NaN,put,1/22/05,1/7/05,89,0.0,...,0,0,0.0,0.0,0.0,0.0,0.0,SZCMK,0.0,0.0
4,SPY,118.44,*,SWG050122C00090000,NaN,call,1/22/05,1/7/05,90,0.0,...,0,0,0.0,0.0,0.0,0.0,0.0,SWGAL,0.0,0.0

In [8]:
#drop unnecessary columns
x.drop(columns=['optionroot','optionext','impliedvol','delta','gamma','theta','vega',
                'optionalias','IVBid','IVAsk','openinterest','bid','ask'],inplace=True)

In [9]:
#calc and insert column 'days to expiry'
x[['expiration','quotedate']] = x[['expiration','quotedate']].apply(pd.to_datetime) #if conversion required
x['days_to_expiry'] = (x['expiration'] - x['quotedate']).dt.days

In [10]:
#ensure column 'underlying_last' and strike are set to data type integer
x['underlying_last']=x['underlying_last'].astype(int)
x['strike']=x['strike'].astype(int)

In [11]:
#clean dataframe so we only observe options with 30 days remaining to expiry

x['last_trading_day'] = df['date'] - pd.Timedelta(1, unit='D') 
print(df.dtypes)

index_names = x[ x['days_to_expiry'] != 30 ].index 


last_trading_day= x['days_to_expiry] - 1
x.drop(index_names, inplace = True) 

#clean dataframe so we only observe at-the-money options
index_names2 = x[ x['strike'] != (x['underlying_last'])].index
x.drop(index_names2, inplace = True) 

#sort and reset
x.sort_values(by = ['type','expiration']).reset_index()

,index,underlying,underlying_last,exchange,type,expiration,quotedate,strike,last,volume,days_to_expiry
0,6768,SPY,117,*,call,2005-02-19,2005-01-20,117,2.35,211,30
1,6769,SPY,117,*,put,2005-02-19,2005-01-20,117,1.35,302,30

In [15]:
#pull in spy historical price data
spy = yf.Ticker("SPY")
y = spy.history(start ='2005-01-01', end ='2005-12-31').reset_index()
y[['Date']] = y[['Date']].apply(pd.to_datetime)
y.drop(columns=['Open','High','Low','Volume','Dividends','Stock Splits'], inplace=True)

In [16]:
#rename columns and reorder for merge
x.rename(columns={'expiration':'Date'},inplace=True)
x= x[['Date', 'underlying', 'underlying_last', 'type', 'quotedate', 'strike', 'last', 'volume', 'days_to_expiry']]#
x.head()

,Date,underlying,underlying_last,type,quotedate,strike,last,volume,days_to_expiry
6768,2005-02-19,SPY,117,call,2005-01-20,117,2.35,211,30
6769,2005-02-19,SPY,117,put,2005-01-20,117,1.35,302,30

In [20]:
#merge in closing price to existing DF >>> ERROR: Date is weekend.
z=pd.merge(x, y, how='left', on='Date')
z

,Date,underlying,underlying_last,type,quotedate,strike,last,volume,days_to_expiry,Close
0,2005-02-19,SPY,117,call,2005-01-20,117,2.35,211,30,NaN
1,2005-02-19,SPY,117,put,2005-01-20,117,1.35,302,30,NaN

In [61]:
# Create Plots and Define Panel Visualization Functions
def function_1():
    """Title"""
    plot = df.hvplot.bar(
        x="",
        xlabel="",
        y="",
        ylabel="",
        title="",
        width=500,
        ylim=(, )
    ).opts(yformatter="%.0f")
    
    return function_1

SyntaxError: invalid syntax (<ipython-input-61-99022e2a7c20>, line 11)

In [62]:
# Create a Title for the Dashboard
title = '#Title'

# Create a tab layout for the dashboard
cover_page = pn.Column(
    title
)

tab_1 = pn.Column(
    "## Title 1", 
    function_1(), 
    function_2()
)


dashboard = pn.Tabs(
    ("Cover Page",cover_page),
    ("tab_1",tab_1),
)

# Serve the# dashboard
dashboard.servable()

NameError: name 'pn' is not defined